.chart {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__container {
        // box-sizing: border-box;
        flex: 1;
        height: 170px; // Set the height of the chart container
        canvas {
          height: 100% !important; // Important to ensure the chart respects the container height
        }
    }

    &__yearFilter {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 30px 61px;
        width: 100%;
    }

    &__leftYear {
        display: flex;
        flex-direction: row;
    }
}